In [1]:
#loops 

for i in range(0,5,1):
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    print("*")

*
*
*
*
*

In [3]:
for i in range(5):
    print("*",end = " ")

* * * * *

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
ad = 0
for i in range(1,11):
    ad = ad + i

In [6]:
ad

55

In [7]:
n = int(input("Enter the value for table"))
for i in range(1,11):
    print(f"{n} X {i} = {n*i}")

Enter the value for table 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [2]:
n = int(input("Enter the value.."))

count = 0
while n >0:
    count += 1
    n = n//10
    print("Your n is :",n)
    print("Your  count is :",count)
print(count)

Enter the value.. 1234

Your n is : 123
Your  count is : 1
Your n is : 12
Your  count is : 2
Your n is : 1
Your  count is : 3
Your n is : 0
Your  count is : 4
4

In [3]:
n = int(input("Enter the number..."))
fact = 1
for i in range(1,n+1):
    print(f"fact : {fact} and i : {i} , then {fact*i} ")
    fact *= i

Enter the number... 5

fact : 1 and i : 1 , then 1
fact : 1 and i : 2 , then 2
fact : 2 and i : 3 , then 6
fact : 6 and i : 4 , then 24
fact : 24 and i : 5 , then 120

In [2]:
fact

120

In [5]:
n = int(input("Enter the number..."))
fact = 1
for i in range(5,0,-1):
    print(f"fact : {fact} and i : {i} , then {fact*i} ")
    fact *= i

Enter the number... 5

fact : 1 and i : 5 , then 5
fact : 5 and i : 4 , then 20
fact : 20 and i : 3 , then 60
fact : 60 and i : 2 , then 120
fact : 120 and i : 1 , then 120

In [8]:
n = int(input("Enter the range limit.."))

for i in range(1,n+1):
    print(f"{i} cube is : {i ** 3}")

Enter the range limit.. 10

1 cube is : 1
2 cube is : 8
3 cube is : 27
4 cube is : 64
5 cube is : 125
6 cube is : 216
7 cube is : 343
8 cube is : 512
9 cube is : 729
10 cube is : 1000

In [9]:
n = int(input("Enter the number of terms.."))
third = 0
first = 0
second = 1
print(first , second ,end = " ")
for i in range(3,n+1):
    third = first + second
    print(third , end = " ")
    first = second
    second = third

Enter the number of terms.. 8

0 1 1 2 3 5 8 13

In [12]:
for i in range(0,15,4):
    print(i)

0
4
8
12

In [11]:
for i in range(5):
    for j in range(5):
        print("*",end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [6]:
for i in range(5):
    for j in range(5):
        print(f"{i,j} ",end = " ")
    print()

(0, 0)  (0, 1)  (0, 2)  (0, 3)  (0, 4)
(1, 0)  (1, 1)  (1, 2)  (1, 3)  (1, 4)
(2, 0)  (2, 1)  (2, 2)  (2, 3)  (2, 4)
(3, 0)  (3, 1)  (3, 2)  (3, 3)  (3, 4)
(4, 0)  (4, 1)  (4, 2)  (4, 3)  (4, 4)

In [14]:

#prime number
n = int(input("Enter the number.."))
prime = True
count = 0
for i in range(2,n//2+1):
    count += 1
    if n%i == 0:
        print("Number is not prime..")
        prime = False
        break

if prime:
    print("Number is prime..")
print("count is:",count)

Enter the number.. 343

Number is not prime..
count is: 6

In [14]:
n = int(input("Enter the number.."))

for i in range(2,n//2+1):
    if n%i == 0:
        print("Number is not prime..")
        break
else:
    print("Number is prime..")

Enter the number.. 19

Number is prime..

In [15]:
#reverse the number..

n = int(input("Enter the number .."))
rem,rev = 0,0
while n > 0:
    rem = n%10
    rev = rev*10 + rem
    n = n//10
print(rev)

Enter the number .. 56321

12365

In [1]:
#2 4 6 8 10 12 14 16 18 20........2n
n = int(input("Enter the number.."))
sums = 0
for i in range(1,n+1):
    sums += 2*i 
print(sums)

Enter the number.. 5

30

In [2]:
n = int(input("Enter the number.."))
sums = 0
i = 1
while i <= n:
    sums += 2*i
    i += 1
print(sums)

Enter the number.. 5

30

In [17]:
for i in range(5):
    for j in range(5):
        print(j+1 ,end = " ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [18]:
for i in range(5):
    for j in range(1,6):
        print(j ,end = " ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [14]:
for i in range(5):
    for j in range(i+1):
        print(j+1,end=  " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [26]:
for i in range(1,6):
    for j in range(1,6-i+1):
        print(j ,end = " ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [20]:
for i in range(5):
    for j in range(5,0,-1):
        print(j,end = " ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [21]:
for i in range(5):
    for j in range(5):
        print(5-j,end = " ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [23]:
for i in range(5):
    for j in range(i+1):
        print(j+1 ,end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [24]:
for i in range(5):
    for j in range(i+1):
        print("*" ,end = " ")
    print()

*
* *
* * *
* * * *
* * * * *